*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c8c3bf;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #000000;
}

header{
    background-color: #FFA500;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    justify-content: center;
    color: #fff9ed;
    font-size: 4.5vmin;
    font-family: Cambria, Cochin, Georgia, Times, serif;
    font-weight: 550;
}

main{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
}

h2 {
    font-size: 5vmin;
}

form {
    display: flex;
    gap: 10px;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    width: 75%;
    height: 5vmin;
    padding: 1vmin;
    padding-left: 2vmin;
    border-radius: 2vmin;
    border: 2px solid #ffa60036;
    background: #fff9f0;
    font-size: 4vmin;
}

#submit{
    cursor: pointer;
    border: 1px solid #f7e9d5;
    background: #ffa60078;
    width: 20%;
    padding: 1vmin;
    border-radius: 2vmin;
    font-size: 4vmin;
    transition: background-color 0.3s ease;
}
#submit:hover {
    background: #fac5766f;
    border: 1px solid #f7e9d5;
}

@media (width<1319px) {
    #submit{
        font-size: 3.5vmin;
        width: 25%;
    }
    input[type="text"] {
        width: 70%;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

li.completed {
    background-color: #e0ffe080;
    text-decoration: line-through;
}

li.pending {
    background-color: #ffe0e080;
}

.filters {
    text-align: center;
    margin-top: 10px;
}

.filters button {
    background-color: #ffa60078;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 2.5vmin;
    cursor: pointer;
}

.filters button:hover{
    background-color: #fac5766f;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

ul {
    list-style: none;
}

li {
    margin: 1vmin;
    border: 1px solid #f7e9d5;
    background: #fff9f086;
    padding: 1vmin;
    border-radius: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vmin;
}

#crud{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vmin
}

#edit{
    height: 4vmin;
    width: 10vmin;
    font-size: 2.5vmin;
    text-shadow: 0 0 0.5vmin #fff9f0;
    text-align: center;
}

#delete{
    height: 4vmin;
    width: 10vmin;
    font-size: 2vmin;
    text-shadow: 0 0 0.25vmin #241903;
    color: #fff9f0;
    text-align: center;
}

.checkbox{
    accent-color: green;
}

li button {
    background: #f11919;
    border: none;
    color: #241903;
    padding: 0.75vmin;
    margin: 0.25vmin;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background: #db1a1a;
}

.edit-button {
    background: #ffea07;
    border: none;
    color: #241903;
    padding: 0.75vmin;
    margin: 0.25vmin;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background: #fae716;
}

hr{
    display: block;
    /* width: 100%; */
    border: 0.5px solid #241903;
    margin: 0.25px;
}
  
footer{
    background: #fff9ed;
    position: absolute;
    text-align: left;
    bottom: 1px;
    width: 100%;
}
  
a{
    color: #241903;
    text-decoration: none;
    font-weight: 500;
}